*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.app{
    /* background-color: rgb(162, 183, 223); */
    border: 5px solid red;
    border-radius: 5px;
    min-height: 100vh;
    margin: 5px;
    background-image: url("./assets/ques1.png");
    padding: 10px;
}
a{
    text-decoration: none;
}