*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.app{
    /* background-color: rgb(162, 183, 223); */
    border: 7px solid rgb(67, 69, 70);
    border-radius: 5px;
    min-height: 100vh;
    margin: 5px;
    /* background-image: url("./assets/ques1.png"); */
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
a{
    text-decoration: none;
}